<div class="col-lg-3 col-md-12 home-nav-btn-columns">
    <div class="shapes stubborn-margin-hack">
        <div class="rectangle-container">
            <div class="rectangle-multiline green-bkgrd">
                <div class="title-text"><span style="color: white;">
                        <a href="/workoutday" id="indexprogresslink">
                            <i class="fas fa-check"></i></span>Progress
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>