<div class="bubble-shape col-lg-2">
    <div class="bubble-text text-center">
        <span class="title bub-txt" id="kcal-bub2">
            Daily Check-ins:
        </span>
        <span class="result">
            <span class="num" id="kcal-today">
                <h1 id="bubble-numbers">0000{{results.number}}</h1>
            </span>
            <span class="unit bub-txt" id="kcal-bub">
                daily
            </span>
        </span>
    </div>
</div>