<div class="bubble-shape col-lg-2">
    <div class="bubble-text text-center">
        <span class="title bub-txt" id="kcal-bub3">
            Goals Reached:
        </span>
        <span class="result">
            <span class="num" id="kcal-today">
                <h1 id="bubble-numbers2">0000{{results.number}}</h1>
            </span>
            <span class="unit bub-txt" id="kcal-bub4">
                yearly
            </span>
        </span>
    </div>
</div>