<div class="col-lg-2 col-md-12">
    <div class="shapes stubborn-margin-hack">
        <div class="circle-container">
            <div class="circle-multiline green-bkgrd">
                <span class="title" id="kcal-title">
                    Check ins
                </span>
                <span class="result">
                    <span class="num" id="kcal-today">
                        <h1 id="ch1" class="circle-numbers">0000{{results.number}}</h1>
                    </span>
                    <span class="unit" id="kcal">

                    </span>
                </span>
            </div>
        </div>
    </div>
</div>