<div class="circle-shape col-lg-2 ch">
    <div class="circle-text text-center">
        <span class="title" id="kcal-title">
            Goals Reached
        </span>
        <span class="result">
            <span class="num" id="kcal-today">
                <h1 id="circle-numbers">0000{{results.number}}</h1>
            </span>
            <span class="unit" id="kcal">

            </span>
        </span>
    </div>
</div>