<div class="col-lg-2 col-md-12">
    <div class="shapes stubborn-margin-hack">
        <div class="circle-container">
            <div class="circle-multiline gold-bkgrd text-center">
                <span class="title" id="kcal-title">
                    You've Worked Out:
                </span>
                <span class="result">
                    <span class="num" id="kcal-today">
                        <h1 id="ch3" class="circle-numbers">0000{{results.number}}</h1>
                    </span>
                    <span class="unit" id="kcal">
                        Times!
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>