<div class="buttons">
	<a href="/addworkout" class="btn btn-light text-center bottom-buttons exercise">
		<h1 class="text-center" id="button1">Add Workout<p><i class="fas fa-heartbeat"></i></p>
		</h1>
	</a>
</div>
<div class="buttons">
	<a href="/dailygoals" class="btn btn-light text-center bottom-buttons exercise">
		<h1 class="text-center" id="button2">Daily Goals<p><i class="fas fa-check"></i></p>
		</h1>
	</a>
</div>




<div class="buttons">
	<a href="/" class="btn btn-light text-center bottom-buttons exercise">
		<h1 class="text-center" id="button3">Dashboard<p><i class="fas fa-book-open"></i></p>
	</a>
</div>