<div>
	<div class="buttons">
		<a href="/calcCal" class="btn btn-light text-center bottom-buttons">
			<h1 class="text-center" id="button1">Automatic Burnt</h1>
		</a>
		<a href="/manburnt" class="btn btn-light text-center bottom-buttons">
			<h1 class="text-center" id="button2">Manual Burnt</h1>
		</a>
		<a href="/graph" class="btn btn-light text-center bottom-buttons">
			<h1 class="text-center" id="button3">Chart</h1>
		</a>
		<a href="/dietary" class="btn btn-light text-center bottom-buttons">
			<h1 class="text-center" id="button4">Dietary Tips</h1>
		</a>
	</div>
</div>