<div class="row">

	<div class="buttons col-lg-12 green-bkgrd">
		<a href="/dailygoals" class="btn btn-light text-center bottom-buttons exercise">
			<h1 class="text-center" id="button2">Dashboard<p><i class="fas fa-book-open"></i></p>
			</h1>
		</a>
	</div>
</div>