<div>
    <div class="card">
        <h1>Daily Goals Met:</h1>
        <p class="goalsmet">10</p>
    </div>
    <div class="card">
        <h1>Alyve Score:</h1>
        <p class="goalsmet">25896</p>
    </div>
    <div class="fat-burning">
        <span class="title">
            Todays Result
        </span>
        <span class="result">
            <span class="num">0000</span>
            <span class="unit">
                Kcal
            </span>
        </span>
    </div>
    <img src="https://via.placeholder.com/140x100" class="user-img" alt="" />
    <div class="user-attendance">
        <span class="title text-center goal">
            Daily Goal
        </span>
        <span class="result">
            <span class="num" id="goal">0000</span>
            <span class="unit" id="goal-unit">
                Kcal
            </span>
        </span>
    </div>
    <div class="app-title">
        <div class="title-text text-center">Alyve</div>
    </div>
</div>