<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 text-center">
        <div class="card results-card">
            <div class="card-txt">
                <h1 id="gl">Results:</h1>
                <p id="ten">{{number.id}}10lbs</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card results-card">
            <div class="card-txt">
                <h1 id="as">Score:</h1>
                <p id="tfe">{{number.id}}25896</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>