<div class="row">

    <div class="buttons col-lg-12">
        <a href="/login" class="btn btn-light" id="btm-btn2">
            <h1 class="text-center" style="color:white">Login
            </h1>
        </a>
    </div>
</div>