<<<<<<< HEAD
<div id="schedule-template" type="text/x-handlebars-template">

    <div class="row signup">
        <div class="container-fluid">
            <div class="app">
                <div class="header">
                    <div class="fat-burning">
                        <span class="title">

                        </span>
                        <span class="result">
                            <span class="num">{{example.id}}</span>
                            <span class="unit">

                            </span>
                        </span>
                    </div>
                    <a href="/"><span style="font-size: 90px; color: lime;">
                            <i class="fas fa-heartbeat"></i>
                        </span></i></a>
                    <div class="user-attendance">
                        <span class="title text-center goal">

                        </span>
                        <span class="result">
                            <span class="num" id="goal">{{example.id}}</span>
                            <span class="unit" id="goal-unit">

                            </span>
                        </span>
                    </div>
                </div>
                <div class="app-title">
                    <div class="title-text text-center">Alyve</div>
                </div>
                <div class="body">
                    <div class="attendance" id="goal">

                    </div>


                    <div class="wrapper">
                        <form class="form-signin user">
                            <h4>Not a Member Yet?</h4>
                            <a href="/signup" type="button11" class="btn btn-success form-submit user">Sign Up!</a>
                            <h2 class="form-signin-heading user">Member Login</h2>
                            <input type="text" id="email" class="form-control user" name="username"
                                placeholder="Email Address" required="" autofocus="" />
                            <input type="password" id="password" class="form-control user" name="password"
                                placeholder="Password" required="" />
                            {{!-- <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label> --}}
                            <button type="button" id="login" class="btn btn-primary form-submit">Login</button>
                        </form>
                    </div>



                </div>
=======
<div id="schedule-template" type="text/x-handlebars-template">
>>>>>>> tyler
