<div class="col-lg-3 col-md-12 home-nav-btn-columns">
    <div class="shapes stubborn-margin-hack">
        <div class="rectangle-container">
            <div class="rectangle-multiline red-bkgrd">
                <div class="title-text"><span style="color: white;">
                        <a href="/addworkout" id="indexgolyvelink">
                            <i class="fas fa-fire"></i></span>&nbsp;Go Lyve
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>