<div class="col-lg-3 col-md-12 home-nav-btn-columns">
    <div class="shapes stubborn-margin-hack">
        <div class="rectangle-container">
            <div class="rectangle-multiline">
                <div class="title-text">
                    <a href="/">
                        <span style="color: white;"><i class="fas fa-heartbeat"></i></span>&nbsp;ALYVE
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>