<div class="col-lg-2 col-md-12">
    <div class="shapes stubborn-margin-hack">
        <div class="circle-container">
            <div class="circle-multiline blue-bckgrnd">
                <span class="title" id="kcal-title">
                    Todays Result
                </span>
                <span class="num" id="kcal-today">
                    <h1 id="topL" class="circle-numbers">0000{{this.id}}</h1>
                </span>
                <span class="unit" id="kcal">
                    Kcal
                </span>
            </div>
        </div>
    </div>
</div>