<div class="col-lg-2 col-md-12">
    <div class="shapes stubborn-margin-hack">
        <div class="circle-container">
            <div class="circle-multiline blue-bckgrnd">
                <span class="title" id="kcal-title">
                    Goal:
                </span>
                <span class="num" id="kcal-today">
                    <h1 id="topR" class="circle-numbers">{{this.id}}0000</h1>
                </span>
                <span class="unit" id="kcal">
                    Kcal
                </span>
            </div>
        </div>
    </div>
</div>