<div class="circle-shape col-lg-2">
    <div class="circle-text text-center">
        <span class="title" id="kcal-title">
            Goal:
        </span>
        <span class="result">
            <span class="num" id="kcal-today">
                <h1 id="circle-numbers">0000</h1>
            </span>
            <span class="unit" id="kcal">
                Kcal
            </span>
        </span>
    </div>
</div>