<div id="schedule-template" type="text/x-handlebars-template">

    <div class="container-fluid">
        <div class="app">
            <div class="row home-sections">
                <div class="col-lg-1 col-md-12"></div>
                {{>topleft}}
                <div class="col-lg-2 col-md-12"></div>


                {{>nav}}
                <div class="col-lg-1 col-md-12"></div>
                {{>topright}}

            </div>

            <div id="display-content">
                <div class="row">
                    <div class="col-md-12 workout-container">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>