<div id="schedule-template" type="text/x-handlebars-template">

    <div class="container-fluid">
        <div class="app">
            <div class="row top-container">

                <div class="circle-shape col-sm-2">
                    <div class="circle-text text-center">
                        <span class="title" id="kcal-title">
                            Todays Result
                        </span>
                        <span class="result">
                            <span class="num" id="kcal-today">
                                <h1 id="circle-numbers">0000{{results.number}}</h1>
                            </span>
                            <span class="unit" id="kcal">
                                Kcal
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="alyve col-md-4">
                    <div class="app-title text-center">

                        <div class="title-text"><span style="font-size: 90px; color: white;">
                                <i class="fas fa-heartbeat"></i></span>ALYVE</div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="circle-shape col-sm-2">
                    <div class="circle-text text-center">
                        <span class="title" id="kcal-title">
                            Goal:
                        </span>
                        <span class="result">
                            <span class="num" id="kcal-today">
                                <h1 id="circle-numbers">0000{{results.number}}</h1>
                            </span>
                            <span class="unit" id="kcal">
                                Kcal
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" id="workoutSummary">
                <div class="col-sm-2"></div>
                <div class="col-sm-8" id="workoutSumDiv">
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <script src="./js/workoutdisplay.js" type="text/javascript"></script>