<div id="schedule-template" type="text/x-handlebars-template">

    <div class="container-fluid">
        <div class="app">
            <div class="row home-sections">
                <div class="col-lg-1 col-md-12"></div>
                {{>topleft}}
                <div class="col-lg-2 col-md-12"></div>



                <div class="col-lg-3 col-md-12 home-nav-btn-columns">
                    <div class="shapes stubborn-margin-hack">
                        <div class="rectangle-container">
                            <div class="rectangle-multiline green-bkgrd">
                                <div class="title-text">
                                    <a href="/">
                                        <span style="color: white;"><i class="fas fa-heartbeat"></i></span>&nbsp;You're
                                        Lyve
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-12"></div>
                {{>topright}}

            </div>

            <div id="display-content">
                <div class="row">
                    <div class="col-md-12 workout-container">
                    </div>

                </div>
                <div class="col-sm-2"></div>
            </div>



        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 87ffd14b58a04b3ca1f2768525425eb37d886dfc
