<!DOCTYPE html>
<html lang="en">
<head>
   <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Exo:100&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://platform.fatsecret.com/js?key=36a7d2c80f0f4752bab68955b68b711f&theme=green"></script>
  <script src="/js/dietary.js"></script>
  <script type="text/javascript" src="/js/manburntlogic.js"></script>
  <title>Home Page</title>
</head>
</head>
<body>
    {{{body}}}
</body>
</html>