<div class="row text-center">
<div class="container calc-outer-wrap">
    <div class="calc-text"><h1 id="cal-head">Fill in your info so we can calculate you're BMI and calories you burn per day.</h1></div>

<div id="form-error" style="display:none;"></div>
<form class="calc-form" id="calc-form">
  <div class="form-fields">

    <div class="field-outer text-center">
      <label for="distance" class="top-label in-text">Age:</label>
      <div class="field-items">
        <div class="field field-large">         
          <input type="text" name="age" id="age" inputmode="numeric" pattern="[0-9]*" class="form-control-lg">
        </div><!--  /.field-large -->
        
        <div class="field field-medium text-center">
          <select name="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
                   
          </select>
          
        </div><!--  /.field-small -->
      </div><!--  /.field-items -->
    </div><!--  /.field-outer -->


    <div class="form-group">
      <label for="height" class="top-label in-text">Height:</label>
      <div class="field-items">
        <div class="form-group">
          <input type="text" name="height_ft" id="height-ft" inputmode="numeric" pattern="[0-9]*" class="form-control-lg">
          <label for="height-ft" class="in-text">feet</label>
        </div><!--  /.field -->
        <div class="form-group">
          <input type="text" name="height_in" id="height-in" inputmode="numeric" pattern="[0-9]*" class="form-control-lg">
          <label for="height-in" class="in-text">inches</label>
        </div><!--  /.field -->
       <div class="form-group">
          <input type="text" name="height_cm" id="height-cm" inputmode="numeric" pattern="[0-9]*" class="form-control-lg">
          <label for="height-cm" class="in-text">or centimeters</label>
        </div><!--  /.field -->        
      </div><!--  /.field-items -->
    </div><!--  /.field-outer -->
    

    <div class="field-outer">
      <label for="weight" class="top-label">Your weight:</label>
      <div class="field-items">
        <div class="field field-large">
          <input type="text" name="weight" id="weight" inputmode="numeric" pattern="[0-9]*" class="form-control-lg">
        </div><!--  /.field-large -->
        <div class="field field-small">
          <select name="weight_unit">
            <option value="lb">lb</option>
            <option value="kg">kg</option>
          </select>
        </div><!--  /.field-small -->
      </div><!--  /.field-items -->
    </div><!--  /.field-outer -->
   <div class="btn-wrap field-outer text-center">
    <button class="form-submit">Calculate</button>
  </div>
  </div><!--  /.form fields -->


</form>
<div id="results" class="in-text" style="display:none;"></div>
</div><!--  /.calc-outer-wrap -->
</div>


<script type="text/javascript" src="/js/workouts.js"></script>