<div class="row">
    <div class="container-fluid">
        <div class="app" style="height: 900px;">
            <div class="row top-container">
                {{>topleft}}
                <div class="col-lg-2"></div>
                <a class="alyve col-md-4">
                    <div class="app-title text-center">

                        <div class="title-text"><span style="font-size: 90px; color: white;">
                                <i class="fas fa-heartbeat"></i></span>ALYVE</div>
                    </div>
                </a>
                <div class="col-lg-2"></div>
                {{>topright}}



            </div>

            <div class="row top-container" id="chal-g">
                {{>challenge}}
                <div class="col-lg-2"></div>
                <a href="/addworkout" class="alyve col-md-4" id="challenges">
                    <div class="app-title text-center">

                        <div class="title-text"><span style="font-size: 90px; color: white;">
                                <i class="fas fa-fire"></i></span>Go Lyve</div>
                    </div>
                </a>
                <div class="col-lg-2"></div>
                {{>challenge2}}



            </div>

            <div class="row top-container" id="chal-g">
                {{>challenge3}}
                <div class="col-lg-2"></div>
                <a href="/workoutday" class="alyve col-md-4" id="progress">
                    <div class="app-title text-center">

                        <div class="title-text"><span style="font-size: 90px; color: white;">
                                <i class="fas fa-check"></i></span>Progress</div>
                    </div>
                </a>
                <div class="col-lg-2"></div>
                {{>challenge4}}



            </div>