
        <div class="row">
            <div class="container-fluid">
                <div class="app">
                    <div class="header">
                        <div class="fat-burning">
                            <span class="title">
                                Todays Result
                            </span>
                            <span class="result">
                                <span class="num">0000</span>
                                <span class="unit">
                                    Kcal
                                </span>
                            </span>
                        </div>
                        <a href="/"><img src="https://via.placeholder.com/140x100" class="user-img" alt="" /></a>
                        <div class="user-attendance">
                            <span class="title text-center goal">
                                Daily Goal
                            </span>
                            <span class="result">
                                <span class="num" id="goal">0000</span>
                                <span class="unit" id="goal-unit">
                                    Kcal
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="app-title">
                        <div class="title-text text-center">Alyve</div>
                    </div>
                    <div class="body">
                        <div class="attendance" id="goal">

                            <ul>
                                <li>Mon
                                    <span class="lyve">Lyve</span>
                                    <span class="date">20</span>
                                    <span class="circle present"></span>
                                </li>
                                <li>Tue
                                    <span class="lyve">Game Day</span>
                                    <span class="date">21</span>
                                    <span class="circle present"></span>
                                </li>
                                <li>Wed
                                    <span class="rest">Reset</span>
                                    <span class="date">22</span>
                                    <span class="circle absent"></span>

                                </li>
                                <li>Thu
                                    <span class="lyve">Game Day</span>
                                    <span class="date">23</span>
                                    <span class="circle present"></span>

                                </li>
                                <li>Fri
                                    <span class="rest">Rest</span>
                                    <span class="date">24</span>
                                    <span class="circle absent"></span>
                                </li>
                                <li>Sat

                                    <span class="lyve">Game Day</span>
                                    <span class="date">25</span>
                                    <span class="circle present"></span>
                                </li>
                                <li>Sun
                                    <span class="rest">Rest</span>
                                    <span class="date">26</span>
                                    <span class="circle off"></span>
                                </li>
                            </ul>
                        </div>
                    </div>









                    <div class="card">
                        <h1>Daily Goals Met:</h1>
                        <p class="goalsmet">10</p>
                    </div>
                    <div class="card">
                        <h1>Alyve Score:</h1>
                        <p class="goalsmet">25896</p>
                    </div>







                    <div class="buttons">
                        <a href="/calcCal" class="btn btn-light text-center">
                            <h1 class="text-center" id="button1">Automatic Burnt</h1>
                        </a>
                        <a href="/manburnt" class="btn btn-light text-center">
                            <h1 class="text-center" id="button2">Manual Burnt</h1>
                        </a>
                        <a href="/graph" class="btn btn-light text-center">
                            <h1 class="text-center" id="button3">Chart</h1>
                        </a>
                        <a href="/dietary" class="btn btn-light text-center">
                            <h1 class="text-center" id="button4">Dietary Tips</h1>
                        </a>
                    </div>



