<div id='external-events'>
  <p>
    <strong>Draggable Events</strong>
  </p>
  <div class='fc-event'>Upper Body</div>
  <div class='fc-event'>Lower Body</div>
  <div class='fc-event'>Arms</div>
  <div class='fc-event'>Legs</div>
  <div class='fc-event'>Abdominals</div>
  <div class='fc-event'>Glutes</div>
  <div class='fc-event'>Chest</div>
  <div class='fc-event'>Back</div>
  <p>
    <input type='checkbox' id='drop-remove' />
    <label for='drop-remove'>remove after drop</label>
  </p>
</div>

<div id='calendar-container'>
  <div id='calendar'></div>
</div>