<div class="graph">
            
            
            <ul>
             
              <li class="graph-knob-mt-100">
                100
              </li>
              <li class="graph-knob-mt-0">
                00
              </li>
              <li class="graph-knob-mt-0">
                00
              </li>
              <li class="graph-knob-mt-0">
                00
              </li>
              <li class="graph-knob-mt-0">
                00
              </li>
              <li class="graph-knob-mt-0">
                00
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>