<div class="graph">
            <ul>
              <li class="graph-knob-mt-0">
                20
              </li>
              <li class="graph-knob-mt-0">
                21
              </li>
              <li class="graph-knob-mt-0">
                22
              </li>
              <li class="graph-knob-mt-0">
                23
              </li>
              <li class="graph-knob-mt-0">
                24
              </li>
              <li class="graph-knob-mt-0">
                25
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
