

<div class="card"><h1>Daily Goals Met:</h1><p class="goalsmet">10</p></div>
<div class="card"><h1>Alyve Score:</h1><p class="goalsmet">25896</p></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
