<div class="container-fluid">
    <div class="app">
        <div class="row home-sections">
            <div class="col-lg-1 col-md-12"></div>
            {{>topleft}}
            <div class="col-lg-2 col-md-12"></div>


            {{>nav}}
            <div class="col-lg-1 col-md-12"></div>
            {{>topright}}

        </div>

        <div class="row home-sections">
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge}}
            <div class="col-lg-2 col-md-12"></div>
            {{>middle}}
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge2}}
        </div>


        <div class="row home-sections">
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge3}}
            <div class="col-lg-2 col-md-12"></div>
            {{>btm}}
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge4}}
        </div>
    </div>
</div>