<div class="row">
    <div class="container-fluid">
        <div class="app" style="height: 900px;">
            <div class="row top-container">
                {{>topleft}}
                <div class="col-lg-2"></div>
                <div class="alyve col-md-4">
                    <div class="app-title text-center">

                        <div class="title-text"><span style="font-size: 90px; color: white;">
                                <i class="fas fa-heartbeat"></i></span>ALYVE</div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                {{>topright}}



            </div>
            <div class="body">
                <div class="attendance" id="goal">

                    <ul>
                        <li>tuesday
                            <span><a href="/exercise" class="lyve">lyve</a></span>
                            <span><a href="/exercise" class="date">5</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                    <ul>
                        <li>tuesday
                            <span><a href="/exercise" class="lyve">lyve</a></span>
                            <span><a href="/exercise" class="date">5</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                    <ul>
                        <li>tuesday
                            <span><a href="/exercise" class="lyve">lyve</a></span>
                            <span><a href="/exercise" class="date">5</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                    <ul>
                        <li>tuesday
                            <span><a href="/exercise" class="lyve">lyve</a></span>
                            <span><a href="/exercise" class="date">5</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                    <ul>
                        <li>tuesday
                            <span><a href="/exercise" class="lyve"></a></span>
                            <span><a href="/exercise" class="date">5</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                    <ul>
                        <li>tuesday
                            <span><a href="/exercise" class="lyve">L</a></span>
                            <span><a href="/exercise" class="date">6</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                    <ul>
                        <li>Sunday
                            <span><a href="/exercise" class="lyve">Lyve</a></span>
                            <span><a href="/exercise" class="date">7</a></span>
                            <span class="circle present"></span>
                        </li>
                    </ul>

                </div>
            </div>
            {{>headDash}}


        </div>
        {{> footer }}