<div class="container-fluid">
    <div class="app">
        <div class="row home-sections">
            <div class="col-lg-1 col-md-12"></div>
            {{>topleft}}
            <div class="col-lg-2 col-md-12"></div>


            <div class="col-lg-3 col-md-12 home-nav-btn-columns">
                <div class="shapes stubborn-margin-hack">
                    <div class="rectangle-container">
                        <div class="rectangle-multiline">
                            <div class="title-text">
                                <a href="/" id="indexalyvelink">
                                    <span style="color: white;"><i class="fas fa-heartbeat"></i></span>&nbsp;ALYVE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-12"></div>
            {{>topright}}

        </div>

        <div class="row home-sections">
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge}}
            <div class="col-lg-2 col-md-12"></div>
            <div class="col-lg-3 col-md-12 home-nav-btn-columns">
                <div class="shapes stubborn-margin-hack">
                    <div class="rectangle-container">
                        <div class="rectangle-multiline red-bkgrd">
                            <div class="title-text"><span style="color: white;">
                                    <a href="/addworkout" id="indexgolyvelink">
                                        <i class="fas fa-fire"></i></span>&nbsp;Go Lyve
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge2}}
        </div>


        <div class="row home-sections">
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge3}}
            <div class="col-lg-2 col-md-12"></div>
            <div class="col-lg-3 col-md-12 home-nav-btn-columns">
                <div class="shapes stubborn-margin-hack">
                    <div class="rectangle-container">
                        <div class="rectangle-multiline green-bkgrd">
                            <div class="title-text"><span style="color: white;">
                                    <a href="/workoutday" id="indexprogresslink">
                                        <i class="fas fa-check"></i></span>Progress
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-12"></div>
            {{>challenge4}}
        </div>
    </div>
</div>