<div class="row itemCard">
    <div class="row cardTop">
        <div class="col-sm-8 col-md-8 col-lg-8 itemContent">
            <div class="row col-sm-12 col-md-12 col-lg-12">{{date}}</div>
            <div class="row col-sm-12 col-md-12 col-lg-12">{{duration}}</div>
            <div class="row col-sm-12 col-md-12 col-lg-12">{{caloriesin}}</div>
            <div class="row col-sm-12 col-md-12 col-lg-12">{{workout}}</div>
        </div>
    </div>
</div>